# Ignore large datasets
full code/Knee X-ray Images/
venv/
__pycache__/
.DS_Store

# Ignore all models EXCEPT the production one
models/*
!models/best_model_improved.keras
*.h5
*.keras
!best_model_improved.keras
